@font-face {
    font-family: 'Config';
    src: url('../font/Config-Regular.woff2') format('woff2'),
        url('../font/Config-Regular.woff') format('woff'),
        url('../font/Config-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@keyframes slider {
    0%{background-position: 200% 1px}
}

:root{
    --title-gradient:linear-gradient(90deg, rgba(41, 37, 121, 1) 0%, rgba(87, 135, 179,1) 46%, rgba(54, 98, 107,1) 100%);
    --primary-color: rgb(173, 117, 84);
    --outline-color: rgb(0, 0, 0);
    --outline-lightcolor: rgb(85, 85, 85);
    --app-color: rgb(0, 0, 0);
    --channels-color: rgb(0, 0, 0);
    --font:'Config', Helvetica, Arial, sans-serif;
}

body{
    font-family: 'Config';
}

.centre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    font-family: 'Config';
    font-weight: normal;
    border: 0;
    background: rgb(31, 100, 78);
}

.windowbar{
    top: -1px;
    height: 204px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    box-shadow: inset 0 -417px 0 0 rgba(0, 0, 0, 0.77), inset 0 -24px 0 0 rgba(0, 0, 0, 0.336);
    opacity: 1;
    z-index: -1;
    position: relative;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.name{
    font-size: 14px;
    z-index: 1000;
    color: antiquewhite;
    height: auto;
    margin-top: 4px;
    margin-left: 4px;
    background-color: transparent;
    display: inline-block;
}

.tld{
    position: relative;
    margin-left: -4px;
    font-size: 14px;
    z-index: 1000;
    color: rgb(200, 0, 0);
    height: auto;
    margin-top: 4px;
    background-color: transparent;
    display: inline-block;
    text-align: left;
}

.header{
    margin-bottom: 2px;
}

.gradient{
    position: relative;
    height: 2px;
    margin-left: 1px;
    width:calc(100% - 2px);
    background: var(--title-gradient);
    animation: slider 5s infinite;
    animation-timing-function: linear;
    background-size: 200% 1px;
}

h1{
    color: rgb(237, 161, 21);
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
}
